.rc-MainPage {
  margin: -8px;
}

.github-link {
  float: right;
  font-size: 10px;
  margin-right: 54px;
}

.link-as-button {
  text-decoration: none;
  color: #333333;
  padding: 2px 6px 2px 6px;
}

.page-header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 110px;
  background-color: #f7d8bb;
  font-family: arial;
  padding: 20px;
  border-bottom: 1px solid #8e8e8e;
}

.header-title {
  font-size: 28px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 16px;
}

.guild-row {
  height: 30px;
}

.boss-selector,
.guild-selector {
  font-size: 14px;
  margin-right: 28px;
  background-color: transparent;
  border-width: 0px;
  border-bottom: 1px solid blue;
  padding: 4px;
  cursor: pointer;
  transition: all 0.25s ease;
}
.boss-selector:hover, .boss-selector.selected,
.guild-selector:hover, .guild-selector.selected {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid red;
}


.page-sidebar {
  position: fixed;
  left: 0px;
  top: 151px;
  font-size: 14px;
  height: calc(100% - 151px);
  width: 280px;
  background-color: #e5edf1;
  font-family: arial;
  padding: 1px;
  border-right: 1px solid #cecece;
  overflow-y: overlay;
  overflow-x: hidden;
}

.page-log-display {
  border: 0px;
  background-color: black;
  margin-left: 283px;
  margin-top: 151px;
  height: calc(100% - 135px);
  color: white;
}

.log-iframe {
  height: 100%;
  width: 100%;
  border: 0px;
}
