.rc-SidebarEntry {
  border: 1px solid #8e8e8e;
  background-color: #f9fafb;
  width: calc(100% - 14px);
  height: 36px;
  padding: 4px;
  font-size: 12px;
  font: bold 11px Arial;
  cursor: pointer;
  text-align: left;
  transition: all 0.25s ease;
  margin-bottom: 1px;
  display: block;
}

.link-as-button {
  text-decoration: none;
  color: #333333;
  padding: 2px 6px 2px 6px;
}

.rc-SidebarEntry:hover, .rc-SidebarEntry.selected {
  background-color: #f7e1d4;
  border: 1px solid #717bc7;
}

.top-row {
  margin-top: 3px;
  margin-bottom: 5px;
}
.class-sprite {
  height: 36px;
  width: 36px;
  margin-right: 10px;
  float: left;
}
.boss-dps.gold {
  color: #ffa700;
}
.boss-dps.silver {
  color: #8cc6ff;
}
.boss-dps.bronze {
  color: #ab621b;
}

.date-dmy {
  font-weight: bold;
}
.time-elapsed {
  float: right;
}

.guild-tag {
  font-weight: bold;
}

.boss-dps, .boss-name {
  color: red;
  float: right;
}

.boss-dps.success, .boss-name.success {
  color: green;
}
