.rc-SidebarEntry {
  border: 1px solid #8e8e8e;
  background-color: #f9fafb;
  width: 100%;
  height: 46px;
  padding: 4px;
  font-size: 12px;
  cursor: pointer;
  text-align: left;
  transition: all 0.25s ease;
  margin-bottom: 1px;
}

.rc-SidebarEntry:hover, .rc-SidebarEntry.selected {
  background-color: #f7e1d4;
  border: 1px solid #717bc7;
}

.top-row {
  margin-top: 1px;
  margin-bottom: 5px;
}
.class-sprite {
  height: 36px;
  width: 36px;
  margin-right: 10px;
  float: left;
}
.boss-dps.gold {
  color: #ffa700;
}
.boss-dps.silver {
  color: #8cc6ff;
}
.boss-dps.bronze {
  color: #ab621b;
}

.date-dmy {
  font-weight: bold;
}
.time-elapsed {
  float: right;
}

.guild-tag {
  font-weight: bold;
}

.boss-dps, .boss-name {
  float: right;
}
