.rc-StatsPage {
  overflow: auto;
}

.github-link {
  float: right;
  font-size: 10px;
  margin-right: 54px;
}

.link-as-button {
  text-decoration: none;
  color: #333333;
  padding: 2px 6px 2px 6px;
}

.stats-page-header {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 150px;
  background-color: #f7d8bb;
  font-family: arial;
  padding: 20px;
  border-bottom: 1px solid #8e8e8e;
}

.boss-row {
  height: 30px;
  margin-top: 50px;
  margin-bottom: 22px;
}

.class-sprite-small {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.stats-section {
  z-index: 0;
  margin-top: 192px;
  height: calc(100% - 192px);
}

.boss-selector,
.class-selector {
  font-size: 14px;
  margin-right: 28px;
  background-color: transparent;
  border-width: 0px;
  padding: 4px;
  cursor: pointer;
  transition: all 0.25s ease;
}
.boss-selector:hover, .boss-selector.selected,
.class-selector:hover, .class-selector.selected {
  font-size: 18px;
  font-weight: bold;
}

.boss-selector,
.class-selector .class-sprite {
  border-bottom: 1px solid blue;
}
.boss-selector:hover, .boss-selector.selected,
.class-selector .class-sprite:hover, .class-selector.selected .class-sprite {
  border-bottom: 2px solid red;
}

.class-selector .class-sprite {
  padding-bottom: 5px;
}
.class-selector .class-sprite:hover, .class-selector.selected .class-sprite {
  height: 50px;
  width: 50px;
  margin-top: -14px;
}

.left-separator .class-sprite {
  margin-left: 50px;
}

.scrollable {
  overflow: auto;
}
